<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.swinton.canned-replies</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>6274FC43-A4E4-49B7-B845-6C5B394A7845</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A4528B4-490A-4244-9D28-861C56F9FEDE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EBC2F163-A2C9-4971-9B07-85376834DCBF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6274FC43-A4E4-49B7-B845-6C5B394A7845</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Steve Winton</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Canned Replies</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>PATH=$PATH:$MY_PATH

sha="$@"

curl \
  --get \
  --header "authorization: token $GITHUB_TOKEN" \
  --url "https://api.github.com/repos/$REPO_NAME/git/blobs/$sha" |  \
jq --raw-output '.content' | \
python2.7 -c "import sys, base64 as b64; print b64.b64decode(sys.stdin.read());"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6274FC43-A4E4-49B7-B845-6C5B394A7845</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>canned</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>#!/bin/bash

PATH=$PATH:$MY_PATH

query="$@"

curl \
  --get \
  --data-urlencode "q=${query} repo:$REPO_NAME in:path extension:md path:$REPO_PATH" \
  --header "authorization: token $GITHUB_TOKEN" \
  --url 'https://api.github.com/search/code' | \
jq '{items: [.items[] | {title: .name, subtitle: .path, arg: .sha}]}'
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Use a canned reply</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EBC2F163-A2C9-4971-9B07-85376834DCBF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1A4528B4-490A-4244-9D28-861C56F9FEDE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Canned replies

https://github.com/swinton/canned-replies
	</string>
	<key>uidata</key>
	<dict>
		<key>1A4528B4-490A-4244-9D28-861C56F9FEDE</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>6274FC43-A4E4-49B7-B845-6C5B394A7845</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>EBC2F163-A2C9-4971-9B07-85376834DCBF</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>GITHUB_TOKEN</key>
		<string></string>
		<key>MY_PATH</key>
		<string></string>
		<key>REPO_NAME</key>
		<string>swinton/canned-replies</string>
		<key>REPO_PATH</key>
		<string>canned-replies</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>GITHUB_TOKEN</string>
		<string>MY_PATH</string>
	</array>
	<key>version</key>
	<string>$VERSION</string>
	<key>webaddress</key>
	<string>https://github.com/swinton/canned-replies</string>
</dict>
</plist>
