on:
  push:
    branches:         # array of glob patterns matching against refs/heads. Optional; defaults to all
    - master          # triggers on pushes that contain changes in master
    tags:
      - '*'

name: Build

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Context
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
      run: |
        echo "$GITHUB_CONTEXT"
    - name: Checkout
      uses: actions/checkout@v1.0.0
    - name: Create artifact
      run: |
        TAG=$( git describe --tags $(git rev-list --tags --max-count=1) || echo '0.0.0' )
        cat src/info.plist | sed -e "s/\$VERSION/$TAG/g" > info.plist
        zip --junk-paths CannedReplies.alfredworkflow info.plist images/*
    - name: Vendor jq
      run: |
        curl https://github.com/stedolan/jq/releases/download/jq-1.6/jq-osx-amd64 --location -o jq
        chmod u+x ./jq
        zip CannedReplies.alfredworkflow ./jq
    - name: Verify artifact
      run: |
        unzip -l CannedReplies.alfredworkflow
    - name: Upload artifact
      uses: actions/upload-artifact@v1.0.0
      with:
        name: CannedReplies.alfredworkflow
        path: CannedReplies.alfredworkflow
    - name: Release
      if: startsWith( github.ref, 'refs/tags/' )
      env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
      run: |
        ./script/release.sh
